<section class=" section">

	<div class="container">
        <h1>Job Listings</h1>

        <div class="job-listing">
            <div class="job-title">Full Stack Lead</div>
            <div class="job-details">
                <p><strong>Skills Required:</strong> Java8 or above including lambda expressions and streams, Spring, SQL, NoSQL, Design, implement and administer the database system, DSA, React, Node.js, typescript good to have</p>
                <p class="qualification"><strong>Education/Qualification:</strong> Any Bachelor's Degree or Above</p>
                <p class="experience"><strong>Years Of Exp:</strong> 3 To 8</p>
                <p class="location"><strong>Location:</strong> Pune, MH</p>
            </div>
        </div>

        <div class="job-listing">
            <div class="job-title">Sr. Mobile App Developer</div>
            <div class="job-details">
                <p><strong>Skills Required:</strong> Flutter, React Native, IOS & Android</p>
                <p class="qualification"><strong>Education/Qualification:</strong> Any Graduate Or Above</p>
                <p class="experience"><strong>Years Of Exp:</strong> 6 To 8</p>
                <p class="location"><strong>Location:</strong> Pune</p>
            </div>
        </div>

        <div class="job-listing">
            <div class="job-title">Sr. Data Engineer</div>
            <div class="job-details">
                <p><strong>Skills Required:</strong> Spark, Apache, Big Data, Data engineering, Pyspark, SQL, python, R or scala, AWS/Azure/GCP, AI&ML, Data Lakes</p>
                <p class="qualification"><strong>Education/Qualification:</strong> Any graduation or above</p>
                <p class="experience"><strong>Years Of Exp:</strong> 3 To 8</p>
                <p class="location"><strong>Location:</strong> Pune</p>
            </div>
        </div>

        <div class="job-listing">
            <div class="job-title">Sr. Java Microservices Developer</div>
            <div class="job-details">
                <p><strong>Skills Required:</strong> Lucene, solar, akka, cassandra, kafka, elastic search, ML, Junit, Scala, Unix/Linux, TDD</p>
                <p class="qualification"><strong>Education/Qualification:</strong> Any graduate or above</p>
                <p class="experience"><strong>Years Of Exp:</strong> 3 To 8</p>
                <p class="location"><strong>Location:</strong> Pune</p>
            </div>
        </div>

        <div class="job-listing">
            <div class="job-title">HR Admin Intern</div>
            <div class="job-details">
                <p><strong>Skills Required:</strong> Communication, Organization, Attention to Detail, Time Management, Problem-solving, Interpersonal, Adaptability, Teamwork, Confidentiality, Multitasking</p>
                <p class="qualification"><strong>Education/Qualification:</strong> BBA/BMS, Bcom or any related field</p>
                <p class="experience"><strong>Years Of Exp:</strong> 0 To 1</p>
                <p class="location"><strong>Location:</strong> Pune</p>
            </div>
        </div>

        <div class="job-listing">
            <div class="job-title">Java Developer trainee</div>
            <div class="job-details">
                <p><strong>Skills Required:</strong> Knowledge or experience on the Java8 or above including lambda expressions and streams, Spring, SQL, NoSQL, Design, implement and administer the database system, DSA, React, Node.js, typescript</p>
                <p class="qualification"><strong>Education/Qualification:</strong> Any Graduate or Above</p>
                <p class="experience"><strong>Years Of Exp:</strong> 0 To 1</p>
                <p class="location"><strong>Location:</strong> Pune</p>
            </div>
        </div>

        <div class="job-listing">
            <div class="job-title">Full Stack Developer Intern</div>
            <div class="job-details">
                <p><strong>Skills Required:</strong> Java, DSA, Angular, React, VueJs, SQL, PLSQL, NoSQL, NodeJS, Typescript, Python, Shell</p>
                <p class="qualification"><strong>Education/Qualification:</strong> Any Graduate</p>
                <p class="experience"><strong>Years Of Exp:</strong> 0 To 1</p>
                <p class="location"><strong>Location:</strong> Pune</p>
            </div>
        </div>

        <div class="job-listing">
            <div class="job-title">Jr. Java Developer</div>
            <div class="job-details">
                <p><strong>Skills Required:</strong> Java, Python, Aws, Devops</p>
                <p class="qualification"><strong>Education/Qualification:</strong> Any Graduate</p>
                <p class="experience"><strong>Years Of Exp:</strong> 0 To 1</p>
                <p class="location"><strong>Location:</strong> Pune</p>
            </div>
        </div>

        <div class="job-listing">
            <div class="job-title">QA Engineer</div>
            <div class="job-details">
                <p><strong>Skills Required:</strong> Java, Python, Selenium, API test automation, Mobile testing automation, Appium, JMeter, AWS Cloud, Postman / Rest Assured / Rest Easy etc</p>
                <p class="qualification"><strong>Education/Qualification:</strong> Any Graduate</p>
                <p class="experience"><strong>Years Of Exp:</strong> 1 To 4</p>
                <p class="location"><strong>Location:</strong> Pune MH</p>
            </div>
        </div>


		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8 text-center">
				<h2>We’ll Be Glad To See You In Our Team</h2>
				<p>At GTAsteriX pvt ltd, we believe in fostering a collaborative and innovative work environment where individuals can thrive and contribute to our shared success. We are always on the lookout for talented individuals who are passionate about optics, technology, and delivering exceptional customer experiences.</p>
				<a href="mailto:hr1@gtasterix.com" class="btn btn-main">Send Your CV</a>

			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
 
