<!--
Start Blog Section
=========================================== -->
<section class="blog" id="blog">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2> Our <span class="color">Tech Stacks</span></h2>
					<div class="border"></div>
					<p>We harness the power of cutting-edge technologies to craft innovative solutions that drive business success. Our expertise spans a wide range of tech stacks.</p>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row">
			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="images/dbms.jpg" alt="dbms" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">DBMS</a></h3>
						<p>Our expertise in database management systems (DBMS) ensures secure, efficient, and reliable data management for your business.</p>
					</div>
				</div>
			</article>
			<!-- /single blog post -->

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="images/webdev.jpg" alt="Web Development" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">Web Development</a></h3>
						<p>We build dynamic web applications using a range of cutting-edge technologies.</p>
						<br>
						<!-- <a class="btn btn-main" href="single-post.html">Read more</a> -->
					</div>
				</div>
			</article>
			<!-- end single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="images/sql.jpg" alt="sql" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">SQL</a></h3>
						<p>the power of data with our expert SQL services, designed to help you store, manage, and retrieve data efficiently and effectively.</p>
					
						<!-- <a class="btn btn-main" href="single-post.html">Read more</a> -->
					</div>
				</div>
			</article>

			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="images/mobileapplication.jpg" alt="mobile application" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">Mobile Application</a></h3>
						<p>the power of data with our expert SQL services, designed to help you store, manage, and retrieve data efficiently and effectively.</p>
					
						<!-- <a class="btn btn-main" href="single-post.html">Read more</a> -->
					</div>
				</div>
			</article>
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="images/ECommerce.png" alt="E-commerce" class="img-fluid">
					</div>
<br>
<br>
					<div class="content">
						<h3><a href="single-post.html">E-Commerce</a></h3>
						<p>the power of data with our expert SQL services, designed to help you store, manage, and retrieve data efficiently and effectively.</p>
					
						<!-- <a class="btn btn-main" href="single-post.html">Read more</a> -->
					</div>
				</div>
			</article>
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="images/testing.jpg" alt="software testing" class="img-fluid">
					</div>
<br><br>
					<div class="content">
						<h3><a href="single-post.html">Software Testing</a></h3>
						<p>the power of data with our expert SQL services, designed to help you store, manage, and retrieve data efficiently and effectively.</p>
					
						<!-- <a class="btn btn-main" href="single-post.html">Read more</a> -->
					</div>
				</div>
			</article>
		
			<!-- end single blog post -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->