<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h3>GTasterix PVT.LTD</h3>
          <p>GTasterix pvt ltd is the leading provider of the best software for business.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <ul>
            <li>
              <h3>Our Services</h3>
            </li>
            <li><a href="service.html">web Development</a></li>
            <li><a href="service.html">Mobile Apps Development</a></li>
            <li><a href="service.html">Software Testing</a></li>
            <li><a href="service.html">Cloud Computing</a></li>
			<li><a href="service.html">DBMS</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
          <ul>
            <li>
              <h3>Quick Links</h3>
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="service.html">Services</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="blog.html">Blogs</a></li>
            <li><a href="privacy.html">Privacy-Policy</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <h3>Connect with us Socially</h3>
            </li>
            <li><a href="https://www.facebook.com/optical.arc/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0">Facebook</a></li>
            <li><a href="https://www.instagram.com/opticalarcpvtltd/?igshid=YmMyMTA2M2Y%3D">Instagram</a></li>
            <li><a href="https://www.youtube.com/channel/UCU-sN1dFrpQm_WKz_h_CSIA">Youtube</a></li>
            <li><a href="https://in.linkedin.com/company/optical-arc-pvt-ltd">Linkedin</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>&copy; Copyright 2024. All rights reserved.</h5>
    <h6>Design and Developed by <a href="index.html">GTasterix</a></h6>
  </div>
</footer>

<!-- end Footer Area
========================================== -->