<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/4.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Welcome to GTAsteriX</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">A premier software development company.</p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
						href="service.html">Explore Us</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/2.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Customize Software Solutions</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Every Business Is Unique And Has Unique Needs, We value
						diversity in business and build the Customize business solution to take advantage over competitive
						edge.</p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
						href="service.html">Explore Us</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/3.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Software Service, Maintenance and Support </h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Out team of experts provide support to offshore teams and
						help delivering best quality software solutions. using the best practice and principles with latest
						tools and technology
						<br>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="service.html">Explore Us</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/5.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Cloud Computing </h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">We help our clients to migrate their application on cloud
						native and cloud agnostic technology including AWS, Azure, GCP, Kubernetes and Openshift 
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="service.html">Explore Us</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/6.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">CI/CD and DevSecOps </h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Automated build and deployment with end to end test
						automation with Jenkins, Teamcity, Tekton and many more including cloud native pipeline technology
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="service.html">Explore Us</a>
				</div>
			</div>
		</div>
	</div>

</div>